.logo {
  position: absolute;
  width: 120px;
  height: 80px;
  left: 164px;
  top: 22px;

  background: #fe024e;
  border-radius: 20px;
}

.logo-1 {
  position: absolute;
  width: 55px;
  height: 72px;
  left: 40px;
  top: 15px;

  background: #ffffff;
  border-radius: 10px;
}

.television {
  position: absolute;
  width: 240px;
  height: 75px;
  left: 320px;
  top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 75px;
  color: #000000;
}

.search {
  position: absolute;
  width: 130px;
  height: 70px;
  left: 661px;
  top: 45px;
  font-size: 40px;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.signin {
  position: absolute;
  width: 147px;
  height: 56px;
  left: 1623px;
  top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 56px;
  color: #000000;
  background-color: white;
  cursor: pointer;
}

.slide-menu {
  position: absolute;
  width: 1961px;
  height: 712px;
  left: 0px;
  top: 141px;
  background: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}
/* body {
  font-family: verdana, sans-serif;
  margin: 0;
} */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.category-1 {
  position: absolute;
  width: 504px;
  height: 61px;
  left: 184px;
  top: 907px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #8c8989;
}

.all {
  position: absolute;
  width: 76px;
  height: 47px;
  left: 184px;
  top: 1022px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.anime {
  position: absolute;
  width: 137px;
  height: 47px;
  left: 331px;
  top: 1020px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.action {
  position: absolute;
  width: 137px;
  height: 47px;
  left: 532px;
  top: 1022px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.adventure {
  position: absolute;
  width: 172px;
  height: 47px;
  left: 674px;
  top: 1022px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.science {
  position: absolute;
  width: 240px;
  height: 47px;
  left: 877px;
  top: 1022px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: black;
}

.comedy {
  position: absolute;
  width: 131px;
  height: 47px;
  left: 1152px;
  top: 1022px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.column {
  position: absolute;
  width: 311px;
  height: 484px;
  left: 184px;
  top: 1148px;
  border-radius: 10px;
}

.row-1 {
  position: absolute;
  width: 311px;
  height: 484px;
  left: 515px;
  top: 1148px;
  border-radius: 10px;
}

.signin-menu {
  position: absolute;
  width: 1663px;
  height: 2008px;
  left: 164px;
  top: 349px;

  background: #ffffff;
  border-radius: 10px;
}

.modal-box {
  width: 500px;
  height: 650px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: fixed;
  margin: auto;
  left: 40%;
  top: 30%;
  z-index: 100;
}

.logo-block {
  position: absolute;
  width: 120px;
  height: 80px;
  left: 120px;
  top: 10px;
  background: #fe024e;
  border-radius: 20px;
}

.logo-block-1 {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 40px;
  top: 8px;
  background: #ffffff;
  border-radius: 10px;
}

.tv {
  position: absolute;
  width: 240px;
  height: 75px;
  left: 110px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
}
.fullname {
  position: absolute;
  width: 708px;
  height: 71px;
  left: 30px;
  top: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
}

.input-1 {
  position: absolute;
  width: 450px;
  height: 35px;
  left: 1px;
  top: 40px;
  font-size: 20px;
  background: #ece7e7;
  border-radius: 10px;
}

.email {
  position: absolute;
  width: 708px;
  height: 71px;
  left: 30px;
  top: 260px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: black;
}

.input-2 {
  position: absolute;
  width: 450px;
  height: 40px;
  left: 4px;
  top: 40px;
  background: #ece7e7;
  border-radius: 10px;
  font-size: 20px;
}

.password {
  position: absolute;
  width: 708px;
  height: 71px;
  left: 30px;
  top: 370px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: black;
}

.input-3 {
  position: absolute;
  width: 450px;
  height: 40px;
  left: 5px;
  top: 40px;
  background: #ece7e7;
  border-radius: 10px;
  font-size: 39px;
}

.button {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 50px;
  top: 500px;
  background: #fe024e;
  border-radius: 10px;
}

.account {
  position: absolute;
  width: 991px;
  height: 113px;
  left: 80px;
  top: 590px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: black;
}

.account button {
  border: none;
  color: #fe024e;
}

.photo img {
  position: absolute;
  width: 130px;
  height: 110px;
  left: 1612px;
  top: 24px;
  border-radius: 500px;
}

.jumbotron img {
  position: absolute;
  width: 1550px;
  height: 400px;
  left: 150px;
  top: 174px;
}

.title {
  position: absolute;
  width: 464px;
  height: 84px;
  left: 165px;
  top: 266px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
}

.checked {
  color: orange;
}

.fa {
  top: 100px;
}

.review {
  position: absolute;
  width: 235px;
  height: 38px;
  left: 483px;
  top: 350px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #f4f4f4;
}

.sypnosis {
  position: absolute;
  width: 1070px;
  height: 165px;
  left: 168px;
  top: 380px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  color: #ffffff;
}

.trailer button {
  position: absolute;
  background: #fe024e;
  border-radius: 15px;
}

.whislist button {
  position: absolute;
  left: 300px;
  top: 100px;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
}

.overview button {
  position: absolute;
  width: 168px;
  height: 41.04px;
  left: 191px;
  top: 600px;
  border: none;
}

.characters button {
  position: absolute;
  width: 233px;
  height: 56px;
  left: 483px;
  top: 580px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.reviews button {
  position: absolute;
  width: 233px;
  height: 56px;
  left: 800px;
  top: 580px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.syp {
  position: absolute;
  width: 263px;
  height: 75px;
  left: 168px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.syp-1 p {
  position: absolute;
  width: 1603px;
  height: 416px;
  left: 168px;
  top: 1155px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.info {
  position: absolute;
  width: 306px;
  height: 75px;
  left: 390px;
  top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.footer {
  position: absolute;
  width: 1550px;
  height: 400px;
  left: 170px;
  top: 1550px;
  background: #000000;
}

.logos {
  position: absolute;
  width: 137px;
  height: 99px;
  left: 164px;
  top: 50px;
  background: #fe024e;
  border-radius: 20px;
}

.logos-1 {
  position: absolute;
  width: 55px;
  height: 72px;
  left: 40px;
  top: 10px;
  background: white;
  border-radius: 10px;
}

.tvss {
  position: absolute;
  width: 240px;
  height: 75px;
  left: 110px;
  top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: white;
}

.footer-1 {
  position: absolute;
  width: 631px;
  height: 179px;
  left: 160px;
  top: 190px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.tentang {
  position: absolute;
  width: 215px;
  height: 42px;
  left: 990px;
  top: 1650px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

.blog {
  position: absolute;
  width: 71px;
  height: 42px;
  left: 987px;
  top: 1700px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

.layanan {
  position: absolute;
  width: 134px;
  height: 42px;
  left: 987px;
  top: 1760px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

.karir {
  position: absolute;
  width: 75px;
  height: 42px;
  left: 990px;
  top: 1815px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

.pusat {
  position: absolute;
  width: 197px;
  height: 42px;
  left: 993px;
  top: 1870px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.download {
  position: absolute;
  width: 161px;
  height: 42px;
  left: 1317px;
  top: 1650px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: white;
}
