.logo {
  position: absolute;
  width: 137px;
  height: 99px;
  left: 164px;
  top: 22px;

  background: #fe024e;
  border-radius: 20px;
}

.logo-1 {
  position: absolute;
  width: 55px;
  height: 72px;
  left: 40px;
  top: 15px;
  background: #ffffff;
  border-radius: 10px;
}

.slideshow-container {
  position: absolute;
  width: 1961px;
  height: 550px;
  left: 500px;
  top: 141px;
  background: rgba(0, 0, 0, 0.4);
}

.search input {
  position: absolute;
  width: 757px;
  height: 77px;
  left: -4px;
  top: -4px;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.category {
  position: absolute;
  width: 504px;
  height: 61px;
  left: 184px;
  top: 907px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #8c8989;
}
